@font-face {
  font-family: "W95FA";
  src: url("../fonts/w95f.woff2") format("woff2"), url("../fonts/w95f.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "W95FA";
  color: #ffffff;
  min-height: 100vh;
  background: linear-gradient(#218380, #c91ac9);
  background-attachment: fixed;
}

#main {
  border: 2px solid;
  border-top-color: rgb(214.152, 218.888, 221.848);
  border-left-color: rgb(214.152, 218.888, 221.848);
  border-bottom-color: rgb(157.848, 169.112, 176.152);
  border-right-color: rgb(157.848, 169.112, 176.152);
  background-color: #bac2c7;
  padding: 1.5vw;
  margin: 1.5vw;
  transition: 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
  height: 250px;
}
#main.active {
  height: calc(43.75px + 2.4vw);
}
#main {
  overflow: hidden;
}

#forecast-daily {
  border: 2px solid;
  border-top-color: rgb(214.152, 218.888, 221.848);
  border-left-color: rgb(214.152, 218.888, 221.848);
  border-bottom-color: rgb(157.848, 169.112, 176.152);
  border-right-color: rgb(157.848, 169.112, 176.152);
  background-color: #bac2c7;
  padding: 1.5vw;
  margin: 1.5vw;
  transition: 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
  height: 337.5px;
}
#forecast-daily.active {
  height: calc(43.75px + 2.4vw);
}
#forecast-daily {
  overflow: hidden;
}

#forecast-hourly {
  border: 2px solid;
  border-top-color: rgb(214.152, 218.888, 221.848);
  border-left-color: rgb(214.152, 218.888, 221.848);
  border-bottom-color: rgb(157.848, 169.112, 176.152);
  border-right-color: rgb(157.848, 169.112, 176.152);
  background-color: #bac2c7;
  padding: 1.5vw;
  margin: 1.5vw;
  transition: 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
  height: 343.75px;
}
#forecast-hourly.active {
  height: calc(43.75px + 2.4vw);
}
#forecast-hourly {
  overflow: hidden;
}

#map-container {
  border: 2px solid;
  border-top-color: rgb(214.152, 218.888, 221.848);
  border-left-color: rgb(214.152, 218.888, 221.848);
  border-bottom-color: rgb(157.848, 169.112, 176.152);
  border-right-color: rgb(157.848, 169.112, 176.152);
  background-color: #bac2c7;
  padding: 1.5vw;
  margin: 1.5vw;
  transition: 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
  height: 500px;
}
#map-container.active {
  height: calc(43.75px + 2.4vw);
}
#map-container {
  overflow: hidden;
}
#map-container #map {
  height: 368.75px;
  border: 3px solid;
  border-top-color: rgb(149.4024, 161.6456, 169.2976);
  border-left-color: rgb(149.4024, 161.6456, 169.2976);
  border-bottom-color: rgb(222.5976, 226.3544, 228.7024);
  border-right-color: rgb(222.5976, 226.3544, 228.7024);
  background-color: #ffffff;
  margin-top: 0.375vw;
  margin-bottom: 0.375vw;
  padding-top: 0.375vw;
  padding-bottom: 0.375vw;
}

.header {
  font-weight: bold;
  font-size: 1.75em;
  border: 2px solid;
  border-top-color: rgb(55.25, 15.3, 255);
  border-left-color: rgb(55.25, 15.3, 255);
  border-bottom-color: rgb(22.95, 0, 137.7);
  border-right-color: rgb(22.95, 0, 137.7);
  background-color: #2200CC;
  padding: 1vw;
  height: 43.75px;
  display: flex;
  place-items: center;
}
.header #title {
  flex: 1;
}
.header #title h1, .header #title h2 {
  color: #ffffff;
  margin: 0;
}
.header #buttons {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.inside {
  padding: 1.5vw;
  padding-top: 2vw;
  padding-bottom: 0;
  color: #27282c;
}

button {
  border: 2px solid;
  border-top-color: rgb(222.5976, 226.3544, 228.7024);
  border-left-color: rgb(222.5976, 226.3544, 228.7024);
  border-bottom-color: rgb(149.4024, 161.6456, 169.2976);
  border-right-color: rgb(149.4024, 161.6456, 169.2976);
  background-color: #bac2c7;
  color: #27282c;
  display: block;
  margin: auto;
  margin-right: 0;
  width: 31.25px;
  aspect-ratio: 1/1;
}
button:hover {
  border: 2px solid;
  border-top-color: rgb(194.4456, 201.4664, 205.8544);
  border-left-color: rgb(194.4456, 201.4664, 205.8544);
  border-bottom-color: rgb(121.2504, 136.7576, 146.4496);
  border-right-color: rgb(121.2504, 136.7576, 146.4496);
  background-color: rgb(157.848, 169.112, 176.152);
}

.main-data {
  overflow: auto;
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  gap: 0.5vw 1.5vw;
  align-items: center;
}
.main-data #right {
  text-align: right;
  justify-content: flex-end;
  display: flex;
}
.main-data #right #main-forecast-data {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
.main-data #right #main-forecast-data #short-forecast {
  font-size: clamp(1em, 2cqw, 3em);
  font-weight: bold;
}
.main-data #right img {
  margin-left: 1vw;
  border: 3px solid;
  border-top-color: rgb(149.4024, 161.6456, 169.2976);
  border-left-color: rgb(149.4024, 161.6456, 169.2976);
  border-bottom-color: rgb(222.5976, 226.3544, 228.7024);
  border-right-color: rgb(222.5976, 226.3544, 228.7024);
  background-color: #ffffff;
  width: 110px;
  height: 110px;
  background-color: #bac2c7;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}
.main-data #left {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr, 3fr;
}
.main-data #left #temperature {
  font-weight: bold;
  font-size: clamp(1.2em, 5.5vw, 5em);
}
.main-data #left #city-state {
  font-size: clamp(1.15em, 2.15vw, 1.8em);
}
.main-data #center {
  font-size: clamp(1em, 1.85vw, 1.7em);
  flex-grow: 1;
  gap: 1.5vw;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.main-data #center img {
  font-size: 0.4em;
  border: 3px solid;
  border-top-color: rgb(149.4024, 161.6456, 169.2976);
  border-left-color: rgb(149.4024, 161.6456, 169.2976);
  border-bottom-color: rgb(222.5976, 226.3544, 228.7024);
  border-right-color: rgb(222.5976, 226.3544, 228.7024);
  background-color: #ffffff;
  width: 80px;
  height: 80px;
  background-color: #bac2c7;
}

.data-array, .weather-graph {
  display: flex;
  flex-direction: row;
  margin-top: 0.375vw;
  margin-bottom: 0.375vw;
  padding-top: 0.375vw;
  padding-bottom: 0.375vw;
  padding-bottom: 1.5vw;
  overflow: auto;
  gap: 1.5vw;
}

.daily-forecast {
  flex-shrink: 0;
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 1vw;
  color: #27282c;
  border: 3px solid;
  border-top-color: rgb(149.4024, 161.6456, 169.2976);
  border-left-color: rgb(149.4024, 161.6456, 169.2976);
  border-bottom-color: rgb(222.5976, 226.3544, 228.7024);
  border-right-color: rgb(222.5976, 226.3544, 228.7024);
  background-color: #bac2c7;
  padding: 0.75vw;
  width: 83.75px;
  height: 167.5px;
  overflow: hidden;
  transition: 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.daily-forecast.active {
  width: 231.25px;
}
.daily-forecast #forecast-info {
  font-size: 0.9em;
  text-align: justify;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 0.25vw;
}
.daily-forecast .weather-thumbnail {
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1em;
}
.daily-forecast .weather-thumbnail #temperature-info {
  font-size: 1.2em;
  font-weight: bold;
}
.daily-forecast .weather-thumbnail img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 1/1;
  width: 90px;
}

.weather-graph {
  border: 3px solid;
  border-top-color: rgb(149.4024, 161.6456, 169.2976);
  border-left-color: rgb(149.4024, 161.6456, 169.2976);
  border-bottom-color: rgb(222.5976, 226.3544, 228.7024);
  border-right-color: rgb(222.5976, 226.3544, 228.7024);
  background-color: #ffffff;
  height: 118.75px;
  padding: 0;
}
.weather-graph .square {
  flex-grow: 1;
  padding: 0.5vw;
  background-color: #0E008F;
  margin-top: auto;
}

.hourly-forecast {
  color: #27282c;
  border: 3px solid;
  border-top-color: rgb(149.4024, 161.6456, 169.2976);
  border-left-color: rgb(149.4024, 161.6456, 169.2976);
  border-bottom-color: rgb(222.5976, 226.3544, 228.7024);
  border-right-color: rgb(222.5976, 226.3544, 228.7024);
  background-color: #bac2c7;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  text-align: center;
  height: 100px;
}
.hourly-forecast button, .hourly-forecast #forecast-info {
  display: none;
}
.hourly-forecast img {
  aspect-ratio: 1/1;
  width: 65px;
}

header {
  font-weight: bold;
  text-align: center;
}
header h1 {
  font-size: 5.5em;
  animation: tilt 1s infinite alternate;
  margin: 3vw;
}

@keyframes tilt {
  from {
    transform: rotate(2deg);
  }
  to {
    transform: rotate(-2deg);
  }
}
.hidden {
  display: none;
}

#error {
  font-size: 3em;
  font-weight: bold;
}

/*# sourceMappingURL=styles.css.map */
