@use "pallete";
@use "sass:color";

$margin-width: 0.5vw;
$pixel-unit: 6.25px;
$light-text: pallete.$light;
$dark-text: pallete.$dark;

@font-face {
  font-family: 'W95FA';
  src: url('../fonts/w95f.woff2') format('woff2'), url('../fonts/w95f.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
    font-family: 'W95FA';
    color: $light-text;
    min-height: 100vh;
    background: linear-gradient(pallete.$teal, pallete.$magenta);
    background-attachment: fixed;
}

@mixin movable-window($size) {
    @include pallete.window(2, pallete.$alternative, 10%);
    padding: $margin-width*3;
    margin: $margin-width*3;
    transition: 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
    height: $pixel-unit*$size;
    
    &.active {
        height: calc($pixel-unit*7 + $margin-width*4.8);
    }
    overflow: hidden;
}

#main {
    @include movable-window(40)
}

#forecast-daily {
    @include movable-window(54)
}

#forecast-hourly {
    @include movable-window(55)
}

#map-container {
    @include movable-window(80);

    #map { 
        height: $pixel-unit*59;
        @include pallete.inset(3, pallete.$alternative, 13%, pallete.$light);
        @include pallete.vert-margin($margin-width*0.75);
    }
}

.header {
    font-weight: bold;
    font-size: 1.75em;
    @include pallete.window(2, pallete.$violet, 13%);
    padding: $margin-width*2;
    height: $pixel-unit*7;
    display: flex;
    place-items: center;

    #title {
        flex: 1;
        h1, h2 {
            color: $light-text;
            margin: 0;
        }
    }
    
    #buttons {
        display: flex;
        align-items: center;
        gap: $margin-width;
    }
}

.inside {
    padding: $margin-width*3;
    padding-top: $margin-width*4;
    padding-bottom: 0;
    color: $dark-text;
}

button {
    @include pallete.window(2, pallete.$alternative, 13%);
    color: $dark-text;
    display: block;

    margin: auto;
    margin-right: 0;

    width: $pixel-unit*5;
    aspect-ratio: 1/1;

    &:hover {
        @include pallete.window(2, color.adjust(pallete.$alternative, $lightness: -10%), 13%);
    }
}

.main-data {
    overflow: auto;
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    gap: $margin-width $margin-width*3;
    align-items: center;

    #right {
        text-align: right;
        justify-content: flex-end;
        display: flex;
        #main-forecast-data {
            display: flex;
            flex-direction: column;
            gap: $margin-width;
            #short-forecast {
                font-size: clamp(1em, 2cqw, 3em);
                font-weight: bold;
            }
        }
        img {
            margin-left: $margin-width*2;
            @include pallete.inset(3, pallete.$alternative, 13%, pallete.$light);
            width: 110px;
            height: 110px;
            background-color: pallete.$alternative;
            display: block;
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    #left {
        text-align: left;
        display:grid;
        grid-template-columns: 1fr, 3fr;
        #temperature {
            font-weight: bold;
            font-size: clamp(1.2em, $margin-width*11, 5em);
        }
        #city-state{
            font-size: clamp(1.15em, $margin-width*4.3, 1.8em);
        }
    }

    #center {
        font-size: clamp(1em, $margin-width*3.7, 1.7em);
        flex-grow: 1;
        gap: $margin-width*3;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;

        img {
            font-size: 0.4em;
            @include pallete.inset(3, pallete.$alternative, 13%, pallete.$light);
            width: 80px;
            height: 80px;
            background-color: pallete.$alternative;
        }
    }
    
}

// Class for both of the forecasts
.data-array {
    display: flex;
    flex-direction: row;
    @include pallete.vert-margin($margin-width*0.75);
    padding-bottom: $margin-width*3;
    overflow: auto;
    gap: $margin-width*3;
}

.daily-forecast {
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: $margin-width*2;
    color: $dark-text;
    @include pallete.inset(3, pallete.$alternative, 13%, pallete.$alternative);
    padding: $margin-width * 1.5;
    width: $pixel-unit * 13.4;
    height: $pixel-unit * 26.8;
    overflow: hidden;
    transition: 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);

    &.active {
        width: $pixel-unit * 37;
    }

    // The parts of the forecast per each day
    
    #forecast-info {
        font-size: 0.9em;
        text-align: justify;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: $margin-width*0.5
    }

    .weather-thumbnail {
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 1em;

        #temperature-info {
            font-size: 1.2em;
            font-weight: bold;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            aspect-ratio: 1/1;
            width: 90px;
        }
    }
}

.weather-graph {
    @extend .data-array;
    @include pallete.inset(3, pallete.$alternative, 13%, pallete.$light);
    height: $pixel-unit * 19;
    padding: 0;
    .square {
        flex-grow: 1;
        padding: $margin-width;
        background-color: pallete.$background;
        margin-top: auto;
    }
}

.hourly-forecast {
    color: $dark-text;
    @include pallete.inset(3, pallete.$alternative, 13%, pallete.$alternative);
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    text-align: center;
    height: $pixel-unit * 16;

    button, #forecast-info {
        display: none;
    }

    img {
        aspect-ratio: 1/1;
        width: 65px;
    }
}

header {
    font-weight: bold;
    text-align: center;
    h1 {
        font-size: 5.5em;
        animation: tilt 1s infinite alternate;
        margin: $margin-width*6;
    }
    
}

@keyframes tilt {
    from { transform: rotate(2deg); }
    to { transform: rotate(-2deg); }
}

.hidden {
    display: none;
}

#error {
    font-size: 3em;
    font-weight: bold;
}